$color-header-bg: #f4f4f4;
$color-row-bg: #f9f9f9;
$color-row-hover: #f1f1f1;
$border-color: #ddd;

@mixin button-styles($bg-color, $color) {
  background-color: $bg-color;
  color: $color;

  &:hover {
    background-color: $color;
    color: $bg-color;
  }
}

.chemical-supplies {
  font-family: inherit;
  padding: 0 20% 0 20%;
  background-color: #f8f8f8;

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &-heading {
      flex: 1;
    }

    &-buttons {
      display: flex;
      gap: 10px;
    }
  }
  &__button {
    padding: 2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    &:focus,
    &:hover {
      &:not(:nth-child(1)) {
        border: 1px solid black; // Apply border to all except the first child
      }
    }

    &-add,
    &-reset,
    &-save {
      @include button-styles(#164ec5, white);
    }
    &-move-up,
    &-move-down {
      @include button-styles(white, rgb(168, 163, 163));
    }
    &-delete {
      @include button-styles(white, rgb(207, 15, 15));
    }
  }
  &__table {
    width: 100%;
    margin-top: 20px;
    background-color: #f4f4f4;
    border: 1px solid gray;
    &-header {
      background-color: $color-header-bg;
      font-weight: bold;
      text-align: left;
      border-collapse: collapse;
      &-labels {
        color: black;
      }

      &-units {
        color: gray;
      }
      &-cell-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }

    &-body {
      &-cell {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        &:focus {
          background-color: white;
          outline: thick double #164ec5;
        }
      }
    }

    &__header-cell,
    &__table-body-cell {
      padding: 8px;
      text-align: center;
      color: inherit;
    }

    &__checkbox {
      width: 20px;
      height: 20px;
    }

    &__input {
      width: 80px;
      text-align: center;
    }
  }
}
.arrow-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.arrow-up,
.arrow-down {
  font-size: 1rem;
  border-radius: 50%;
  @include button-styles(white, rgb(170, 162, 162));
}
